@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}




body {
  font-family: var(--font-inter);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}